<section class="register-section">
    <div class="register-division">
        <h4>Rejestracja</h4>
        <form action="" class="form">
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" name="username" id="username" required minlength="5" maxlength="32" placeholder="Nazwa użytkownika">
            <label for="email">Email: </label>
            <input type="email" name="email" required maxlength="32" minlength="5" placeholder="Email">
            <label for="password">Hasło</label>
            <input type="password" name="password" required maxlength="32" minlength="8" placeholder="Hasło">
            <div class="align-right">
                <button type="submit">Zarejestruj się</button>
            </div>
        </form>
        <a href="/login">Masz już konto? Zaloguj się.</a>
    </div>
</section>