@use '../utilities/variables' as *;

.jar-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.jar-title, .jar-price {
  color: $secondary-color;
}

.jar-title {
  font-size: 2.3rem;
}

.jar-price{
  font-size: 1.6rem;
  font-weight: bold;
}

.product-nav button{
  color: $secondary-color;
  padding: 15px;
  font-weight: 700;
  font-size: 1.2rem;
}