<section class="login-section">
    <div class="login-division">
        <h4>Logowanie</h4>
        {{> login-messages}}
        <form action="/login" method="POST" class="form">
            <label for="username">Email: </label>
            <input type="email" name="email" id="email" class="form-control" required maxlength="32" minlength="5" placeholder="Email">
            <label for="password">Hasło</label>
            <input type="password" name="password" class="form-control" required maxlength="32" minlength="8" placeholder="Hasło">
            <div class="align-right">
                <button type="submit">Zaloguj się</button>
            </div>
        </form>
        Nie masz konta? <a href="/register"> Zarejestruj się</a>
    </div>
</section>