<div class="container-fluid px-0">
    <div class="row mx-0">
        <div class="col-md-12 px-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="overlay-image" style="background-image: url('/assets/images/photo-home.jpg')"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="overlay-image" style="background-image: url('/assets/images/beekeepers.jpg')"></div>
<!--                        <img src="/assets/images/beekeepers.jpg" class="d-block w-100" alt="...">-->
                    </div>
                    <div class="carousel-item">
                        <div class="overlay-image" style="background-image: url('/assets/images/honeybees.jpg')"></div>
<!--                        <img src="/assets/images/honeybees.jpg" class="d-block w-100" alt="...">-->
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container second-section">
    <div class="row gx-5">
        <div class="col-md-6 col-12">
            <h4 class="motto">Dbamy o waszą pełną satysfakcję z naszych produktów.</h4>
        </div>
        <div class="col-md-6 col-12">
            <p class="description">Oferujemy w pełni naturalny miód, który jest przy nas od procesu produkcji, aż po wysyłke do Państwa. Nasz produkt jest wolny od wszelakich konserwantów i nie zawiera żadnych substancji dodatkowych. Na miodzie może wystąpić naturalny osad.</p>
        </div>
    </div>
</div>